:root{
    --black-color:black;
    --white-color:white;
    --lightgray-color:rgb(214, 214, 214);
}
header{
    font-size:50px;
    color:var(--lightgray-color);
    background-color:var(--black-color);
    text-align: center;
}
body{
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    background-color:var(--black-color);
}
.button-container{
    display:flex;
    justify-content: center;
    align-content:center;
    padding:20px 0 20px 0;
    gap:20px 100px;
    background-color:var(--lightgray-color);
}
.button-container > button,
.submit-button{
    font-size:16px;
    border-radius:100%;
    border:none;
    color:var(--lightgray-color);
    box-shadow:0 2px 6px 3px rgb(0,0,0,0.3) ;
    background-color:var(--black-color);

}
.button-container > .modal-button{
    padding:8px 15px 8px 15px;
}
.button-container > .start-button{
    padding:8px 15px 8px 15px;
}
.button-container > button:hover,
.submit-button:hover{
    background-color:rgb(36, 36, 36);
    color:rgb(219, 219, 219);

}
.button-container > button:active,
.submit-button:active{
    background-color:rgb(57, 57, 57);
    color:rgb(179, 179, 179);
}
.button-container > .reset-button{
    padding:20px 8px 20px 8px;
    
}
.display-grid{
    display:grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px );
    text-align: center;
    justify-content: center;
    align-content:center;
    gap:20px 20px;
    background-color:var(--black-color);
    padding:70px 0 30px 0;
    
}
.grid-item{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:100px;
    -webkit-user-select: none;
    user-select: none;
    background-color:var(--lightgray-color);
    color:var(--black-color);
    border-radius: 50%;
   
} 
.player-container{
    top:35px;
    background-color: var(--lightgray-color);
    padding:10px 0 10px 0;
}
.score-container{
    top:40px;
}
.result-container{
    top:45px;
}
.player-container,
.score-container,
.result-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position:relative;
    text-align: left;
}
.player-name{
    color:var(--black-color);

}
.player-score,
.player-result{
    color:var(--lightgray-color);
}
.player-name,
.player-score,
.player-result{
    font-size:30px;
    position: relative;
    height: 30px;
}
.player-one{
    right:150px;
}
.player-two{
   left:150px;
}
.score-container > div:nth-child(1){
    right:150px;
}
.score-container > div:nth-child(2){
    left:150px;
} 
.result-container > div:nth-child(1){
    right:145px;
}
.result-container > div:nth-child(2){
    left:145px;
} 

.close-modal{
    cursor:pointer;
    align-self: flex-end;
    color:red;
    font-size:30px;
} 
dialog > form {
    font-size:20px
}
form > p {
    font-size:30px;
    margin:0;
    padding:20px;
    margin-bottom:20px;
    background-color:black;
    color:white;
    border-radius: 10px;
}
.player-name-container{
    padding:20px;
    background-color:black;
    color:white;
}
form > div:nth-of-type(1){
    border-radius:10px 10px 0 0;
}
form > div:nth-of-type(2){
    border-radius:0 0 10px 10px;
}
div > input{
    padding:5px;
    margin-left:30px;
    border-radius: 10px;
    font-size:16px;
}
  @keyframes remove-opacity{
    from{
        opacity:100%;
    }
    to{
        opacity:0%;
    }
  }
  @keyframes add-opacity{
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }
  }
  .disabled{
    pointer-events:none;
  }
  .remove-opacity{
    animation:remove-opacity 0.9s ease-in-out 0s 1 normal;
    animation-play-state: paused;
  }
  .add-opacity{
    animation:add-opacity 0.9s ease-in-out 0s 1 normal;
    animation-play-state: paused;
  }
  #overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
    display:none;
    z-index:10;
  }
  #modal {
    background-color:white;
    padding:20px;
    z-index:20;
    display:none;   
    border:none;
    border-radius: 10px;;             
  }
  body.modal-open #overlay,
  body.modal-open #modal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
  }
  body.modal.open *:not(#modal):not(#modal *){
    pointer-events:none;
  }
  .submit-button{
    padding:20px 10px 20px 10px;
    margin-top:20px;
  }
